/* MOBILE */
/* MINIMUM SIZE: 320px */

:root {
  /* COLORS */
  --primary-color: #3A3A3A;
  --secondary-color: #5FB8CC;
  --tertiary-color: #F67CAB;
  --aux-color: #E6E6E6;
  --white: #FFFFFF;

  /* FONTS */
  --font-one: 'Ubuntu', sans-serif;
  --font-two: 'Fira Sans', sans-serif;

  /* MEDIDAS (PX) */
  --spacing-01: 2px;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 16px;
  --spacing-05: 24px;
  --spacing-06: 32px;
  --spacing-07: 40px;
  --spacing-08: 48px;
  --spacing-09: 56px;
  --spacing-10: 64px;
  --spacing-11: 72px;
  --spacing-12: 80px;
}

html {
  font-family: var(--font-one);
  font-size: var(--spacing-04);
  font-weight: 400;
  color: var(--primary-color);
}

/* HEADER */
.intro {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background-image: url(../images/inicio_mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__title {
  width: 100%;
  margin: 0;
  /* text styles */
  font-size: var(--spacing-08);
  font-weight: 700;
  text-shadow: 3px 3px 10px var(--primary-color);
  color: var(--secondary-color);
}

.intro__title span {
  display: block;
  color: var(--tertiary-color);
}

/* TITLES */

h1, h2, h3, h4 {
  font-family: var(--font-two);
  font-weight: 600;
  text-align: center;
  color: #000000;
}
h2 {
  margin: 0 0 var(--spacing-07); /* elimina todos los margin y agrega un margin bottom */
  font-size: var(--spacing-06);
  line-height: 38px;
}

h3 {
  margin: 0 0 var(--spacing-06); /* elimina todos los margin y agrega un margin bottom */
  padding-left: var(--spacing-06);
  font-size: var(--spacing-05);
  line-height: 28px;
  text-align: start;
}

h4 {
  margin: 0 0 var(--spacing-05); /* elimina todos los margin y agrega un margin bottom */
  font-size: 20px;
  line-height: var(--spacing-05);
  text-align: start;
}

/* IMAGES */
.img--icon {
  width: 100px;
  height: 100px;
  margin-right: var(--spacing-04);
  border-radius: 50%;
}

.img-figure {
  margin: var(--spacing-05) 0;
  text-align: center;
}

.img--square img {
  width: 222px;
  height: 222px;
  border-radius: 15px;
}

.img--mid-rectangle img {
  width: 230px;
  height: 150px;
  border-radius: 15px;
}

.img--rectangle img {
  width: 100%;
  /* height: 150px; */
  border-radius: 15px;
}

.img--out {
  margin: 0;
}

.img--end {
  margin-bottom: 0;
}
/* MEMBERS */
.members {
  padding: var(--spacing-07) var(--spacing-05);
  background-color: var(--secondary-color);
}

.members__person {
  margin: 0 auto;
  margin-bottom: var(--spacing-06);
  max-width: 460px;
}

.members__person__title {
  display: grid;
  grid-template-columns: 116px 1fr;
  margin-bottom: var(--spacing-05);
}

/* CARRERA ARTISTICAS */
.carrera-artistica {
  padding: var(--spacing-07) var(--spacing-05);
  background-color: var(--tertiary-color);
}

/* SHORT STORY */
.short-story {
  margin-bottom: var(--spacing-06);
}

/* ESTILO MUSICAL */
.estilo-musical {
  margin-bottom: var(--spacing-06);
}

/* ABOUT THE BAND */


/* FOOTER */
footer {
  padding: var(--spacing-07) 0;
  background-color: #3A3A3A;
  text-align: center;
  color: #FFFFFF;
}

.profile {
  margin-bottom: var(--spacing-05);
}

.profile__name {
  font-family: var(--font-two);
  font-size: var(--spacing-05);
  font-weight: 700;
  line-height: 28px;
}

.profile p {
  margin-bottom: var(--spacing-04);
}

footer .profile a {
  display: flex;
  width: 120px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
}

.social-networks p {
  margin-bottom: var(--spacing-04);
}

.icon {
  display: inline-block;
  width: var(--spacing-06);
  height: var(--spacing-06);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon--twitter {
  background-image: url(../src/icons/icon-twitter.svg);
}

.icon--github {
  margin-left: var(--spacing-03);
  background-image: url(../src/icons/icon-github.svg);
}

.icon--linkedin {
  margin-left: var(--spacing-03);
  background-image: url(../src/icons/icon-linkedin.svg);
}

.icon--discord {
  margin-left: var(--spacing-03);
  background-image: url(../src/icons/icon-discord.svg);
}